<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>添加意见建议</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link href="/jdpt/static/css/all.css" rel="stylesheet" />
	<link href="/jdpt/static/css/fankui.css"  rel="stylesheet"/>
		<script src="/jdpt/static/js/jquery-2.1.0.min.js"></script>
		<script src="/jdpt/static/js/storage.js"></script>
	</head>
	<body>
		<header>
			<span class="go-back" style="color: #CF2D28;">&lsaquo;</span>
			<span style="padding-left: 2rem;">添加意见建议</span>
			<a style="float: right;color: #CF2D28;padding:0.2rem 1rem;text-decoration: none" onclick="lishi(this)">历史意见建议</a>
		</header>
		<div class="mask" id="scz" style="background-color: rgba(0,0,0,0.2);">
			<p style="top: 50vh;text-align: center;color: #007AFF;position: relative;"><span style="padding: 5px 10px;background-color: rgba(0,0,0,0.8);border-radius: 4px;">努力上传中.......请稍候</span></p>
		</div>
		<div class="content" style="margin-top: 3.1rem">
		<div class="header">
		<p><label>标题:</label>
			<input placeholder="请填写文字" type="text" id="biaoti"/></p>
			<textarea id="text" placeholder="填写意见建议内容。"></textarea>
		</div>
		
		<table>
			<tr>
				<td>
					<label for="shangchuan">
			   			<span >+</span>
		 			</label>
		 			<input type="file" name="file" id="shangchuan" capture='camera' accept="image/png,image/jpg,image/gif,image/JPEG" onchange="imgPreview(this)"  multiple="multiple"/>
				</td>
				<td id="imgs">
					
				</td>
			</tr>
			<tr>
				<td>
					
				</td>
				<td>
					<span class="tishi">最多上传三张图片</span>
				</td>
			</tr>
		</table>


			<div class="radio" >请选择意见建议类型：
				<select style="background-color: white;width: 200px;" id="type">

				</select>
			</div>

		<button id="tijiao">提交意见建议</button>
		</div>
	</body>



	<script src="/jdpt/static/js/header.js"></script>
	<script>
        getphotos();
		function getphotos() {
			var ua=navigator.userAgent.toLowerCase();
			var isIOS=(ua.indexOf('iphone')!=-1||(ua.indexOf('ipad')!=-1));
			if(isIOS){
				document.getElementById("shangchuan").removeAttribute("capture");
			}
        }
		var zhenId;
       $.ajax({
            url:'/jdpt/AllBacktype',
            dataType:"JSON",//服务器返回json格式数据
            type:'GET',//HTTP请求类型
            headers: {'Content-Type':'application/x-www-form-urlencoded'},
            success:function(mes){
                var str=""
				for(var i=0;i<mes.backtype.length;i++){
					str+="<option value='"+mes.backtype[i].bKey+"'>"+mes.backtype[i].bType+"</option>";
				}
				document.getElementById("type").innerHTML=str;
            },
            error:function(){
            }
        });

                $.ajax({
                    url:'/jdpt/FindByZid/'+userInfo.getItem("userId"),
                    dataType:"JSON",//服务器返回json格式数据
                    type:'GET',//HTTP请求类型
                    headers: {'Content-Type':'application/x-www-form-urlencoded'},
                    success:function(mes){
                       /* console.log("镇办");*/
                        console.log(mes);
                        zhenId=mes.zhen.zhenId;
                    },
                    error:function(){

                    }
                });

	    var i=0;
	    var imgs=[];
	    var tu=document.getElementById("imgs");
	    function imgPreview(obj){
	    	if (i>2) {
	        	alert("上传不能超过三张哦！");
	        	return 0;
	        }
	    	document.getElementById("imgs").innerHTML+="<img onclick='delit(this)' src=\"\" id=\"show"+i+"\" width=\"200\" style=\"opacity: 0;\">"; 
	    	var newsrc=getObjectURL(obj.files[0]);
     	    document.getElementById('show'+i).src=newsrc;//将图片的路径设置为返回上传的图片的地址
	        document.getElementById("show"+i).style.opacity=1;//将图片设置为可见
		    i++;
            imgs[i]=obj.files[0];
	    }
	     //删除图片
	     function delit(t){
	        var tid=parseInt(t.id.substring(4));
	    	var a=confirm("您是否确定删除该图片？");
		    	if (a) {
					//alert(t.id);
		    		tu.removeChild(t);
		    		for(var j=tid; j<imgs.length-1;j++){
		    		    imgs[j]=imgs[j+1];
					}
		    	}
		    	i--;
	       }
	    
		        //建立一个可存取到该file的url
		        function getObjectURL(file) {
		            var url = null ;
		            // 下面函数执行的效果是一样的，只是需要针对不同的浏览器执行不同的 js 函数而已
		            if (window.createObjectURL!=undefined) { // basic
		                url = window.createObjectURL(file) ;
		            } else if (window.URL!=undefined) { // mozilla(firefox)
		                url = window.URL.createObjectURL(file) ;
		            } else if (window.webkitURL!=undefined) { // webkit or chrome
		                url = window.webkitURL.createObjectURL(file) ;
		            }
		            return url ;
		        }
		        
		   function lishi(t){
	        t.href="fankuicentre.html";
		   }
        document.getElementById("tijiao").addEventListener('click',function() {
			
            var fTitle = document.getElementById("biaoti").value;
            var fContent = document.getElementById("text").value;
			if(fTitle==""||fContent==""){
				alert("意见建议标题，内容不能为空！")
			}else{
				document.getElementById("scz").style.display="block";
				var userId = userInfo.getItem("userId");
				var fType = document.getElementById("type").value;
				var fBeiyong1 =zhenId;
				//alert(fTitle+"/"+fContent+"/"+userId+"/"+fType+"/"+fBeiyong1);
				var formdata = new FormData();
				
				formdata.append("userId", userId);
				formdata.append("fTitle", fTitle);
				formdata.append("fType", fType);
				formdata.append("fContent", fContent);
				formdata.append("fBeiyong1", fBeiyong1);
				for (var i = 0; i < imgs.length; i++) {
				    formdata.append("photo", imgs[i]);
				}
				
				
				$.ajax({
				    url: uri+'TijiaoFeedback/',
				    data: formdata,
				    async: true,
				    cache: false,
				    contentType: false,
				    processData: false,
				    enctype: 'multipart/form-data',
				    dataType: "JSON",//服务器返回json格式数据
				    type: 'POST',//HTTP请求类型
				   // headers: {'Content-Type': 'application/x-www-form-urlencoded'},
				    success: function (mes) {
						
				        console.log(mes);
				        if(mes.statue=="存在敏感词"){
							alert("意见建议内容中存在敏感词，请重新编辑！");
						}
				       if(mes.statue=="success"){
							alert("提交成功！");
							
					   }
					   if(mes.statue=="超过每日最大意见建议次数"){
				           alert("超过每日最大意见建议次数,请明天再提交意见建议！")
					   }
					   document.getElementById("scz").style.display="none";
				    },
				    error: function (xhr, type, errorThrown) {
				        //异常处理
				
				    }
				});
				        
				
				
			}
          
		})


		</script>
</html>